<h1><%= @patient.full_name %></h1>
<hr />
<ul>
  <h2>Phone Number: <%= @patient.phone_number %></h2>
  <h2>Age: <%= @patient.age %></h2>
    
</ul>
<br />
<br />
<br />
<%= link_to 'Delete Patient', @patient, method: :delete, class: "ui red button" %>
<%= link_to 'Update Patient', edit_patient_path(@patient), class: "ui blue button" %>
<%= link_to 'Add Appointment', new_patient_appointment_path(@patient), class: "ui purple button" %>
<%= link_to 'Back', patients_path, class: "ui orange button" %>
