<h1><%= @doctor.name %></h1>
<hr />
    
  
<br />
<br />
<br />
<%= link_to 'Delete Doctor', @doctor, method: :delete, class: "ui red button inverted" %>
<%= link_to 'Edit Doctor', edit_doctor_path(@doctor), class: "ui blue button inverted" %>
<%= link_to 'Add Appointment', new_doctor_appointment_path(@doctor), class: "ui purple button" %>
<%= link_to 'View Appointments', doctor_appointments_path(@doctor), class: "ui green button" %>